.heading{
    width: 100%;
    text-align: left;
}
.heading h3 {
    display: inline;
}
.heading button{
    float: right;
    border: 2px solid wheat;
    
}
#start, #status{
    font-size: 24px;
    box-shadow: 5px 5px 5px black;
}
body{
    text-align: center;
}
.big_image{
    width: 100%;
    background-position: center;
}
h4{
   margin: 0px;
   background-color: rgb(109, 255, 72);
   line-height: 2;
}
.modal-dialog{
    width: 90%;
}
.instruction_image{
    display: inline;
    width: 45%;
}
video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}